.step-item{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom:1px solid #F0F2F5;
    cursor: pointer;
    justify-content: space-between;
}
.step-item .round-text{
    display: flex;
    align-items: center;
}
.right-side-menu .step-item-active{
    background: #F0F2F5;
}
.right-side-menu .right-side-item{
    justify-content: space-between;
}
.right-side-menu .right-side-item .round-text{
    display: flex;
    align-items: center;
}