.number-round{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background:  #DCDEE1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-round-back{
    background:  #EDEFF2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.number-round-back-active{
    background: rgba(42, 150, 255, 0.2) !important;
}
.round-active{
    background:  #2A96FF !important;
}
.round-active .icon-download:before,
 .round-active  .icon-search:before,
 .round-active  .icon-characteristics:before,
 .round-active  .icon-project-document:before,
 .round-active  .icon-pen-documnet:before,
 .round-active  .icon-settings:before,
 .round-active  .icon-development:before
 {
    color:white
}
.number{
    color: #FFFFFF;

}